<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# What to expect in this chapter

In [17]:
import numpy as np

# 1 There is more to if

In [1]:
name = 'batman'

if name == 'batman':
    print('hello batman')
elif name == 'superman':
    print('hello superman')
else:
    print('suppppppp')

hello batman

# 2 Asking questions

In [2]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

In [4]:
'apple' in fruits

True

In [6]:
'kiwi' in fruits or 'kale' in vegetables

True

In [8]:
'kale' not in vegetables

False

In [10]:
'apple' > 'orange' # THis compares the 1st letter of each string

False

## 2.1 Asking Math questions

# 3 Python stores information in different formats or types

In [16]:
x = int(1.234) # x is now 1, the decimal part is truncated
print(f"{x=}", type(x))

x=1 <class 'int'>

In [ ]:
x = str(1.234) # x is now '1.234', the number is converted to a string
print(x, type(x))

1.234 <class 'str'>

In [ ]:
x = float(1.234) # x is now 1.234, the number is converted to a float
print(x, type(x))

1.234 <class 'float'>

In [15]:
x = complex(1.234) # x is now (1.234+0j), the number is converted to a complex number
print(x, type(x))

(1.234+0j) <class 'complex'>

In [18]:
np.float64([10])

array([10.])

# 4 Never compare floats directly

In [19]:
a = 0.1
a3 = 0.3
a * 3 == a3

False

In [21]:
a = .1
a3 = .3
a*3

0.30000000000000004

In [22]:
f'{0.3:.27f}'

'0.299999999999999988897769754'

## 4.1 The Problem

## 4.2 A solution

In [24]:
eps = 1E-10
abs(a * 3 - a3) < 1E-5

True

In [25]:
np.isclose(a*3,a3)

np.True_

# 5 Combining English and variables

In [26]:
name = "Batman"
print(f"Hello {name}!")

Hello Batman!

In [27]:
name = "Batman"
print(f"Hello {name.upper()}!")

Hello BATMAN!

In [28]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

## 5.1 Structure of f-strings

In [29]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [30]:
print(f'{text:>30}')      # A block of 30 characters;

        Bruce Wayne is Batman.

In [31]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')

The cube of pi to 6 decimal places is 31.006277

In [32]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')

The cube of pi to 6 decimal places is 3.100628e+01

# 6 Escape sequences

In [33]:
print('Line 1\n\tLine 2\n\t\tLine 3')

Line 1
	Line 2
		Line 3

In [35]:
print('Line 1\n\tline 2\tline 3')

Line 1
	line 2	line 3

## 6.1 Self-documenting f-strings

# 7 Computers read = from Right to Left!

In [36]:
x, y= 42, 24
print(f'{x=} and {y=}')

x=42 and y=24

In [38]:
x = 40
y = x + 2

In [39]:
y = 40
y = y + 2
print(y)

42

In [37]:
x = y = 10

# 8 Shorter and Cleaner Code

In [40]:
y = 40
y = y + 2
y
y = 40
y += 2    # Same as y = y + 2
y

42

# 9 Python can be a prima-donna.

# 10 Best Practices for Scientific Computing

# 11 Looking for help

## References

## Footnotes